<ion-grid fixed id="container">
  <ion-row>
    <div  class="mini-container">
      <div>
        <p class="mini-titles">Desde: </p>
        <div class="name">
          <ion-avatar>
            <img [src]="transaction.idSender == transaction.idClub ? '../../../assets//images/photos/club.png' : '../../../assets//images/photos/user.png'" />
          </ion-avatar>
          <ion-label>
            <p>{{transaction.sender?.firstName}}</p>
            <p>{{transaction.sender?.lastName}}</p>
          </ion-label>
        </div>
        <div id="description">
          <p id="descript">Description: </p>
          <p>{{transaction.reason}}</p>
        </div>
      </div>

    </div>
    <div  class="mini-container">
      <div>
        <p class="mini-titles">Hasta: </p>
        <div class="name">
          <ion-avatar>
            <img [src]="transaction.idReceiver == transaction.idClub  ? '../../../assets//images/photos/club.png' : '../../../assets//images/photos/user.png'" />
          </ion-avatar>
          <ion-label>
            <p>{{transaction.receiver?.firstName}}</p>
            <p>{{transaction.receiver?.lastName}}</p>
          </ion-label>
        </div>
      </div>
      <div >
        <p id="amount">{{transaction.amount}}</p>
        <p id="date">{{date | date:"dd-MMM-yyyy hh:mm a"}}</p>
      </div>
    </div>
  </ion-row>
</ion-grid>