<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>Make Deposit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="secondary">
  <form [formGroup]="transactionForm" (ngSubmit)="makeDeposit()">
    <div class="select">
      <ion-item>
        <ion-label>Destiny</ion-label>
        <ion-select value="" multiple="false" formControlName="destiny" placeholder="Select Destiny">
          <ion-select-option *ngFor="let user of users" [value]="user.id">{{user.firstName}} {{user.lastName}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div>
      <ion-input required placeholder="Amount: " formControlName="amount" type="number"></ion-input>
    </div>
    <div>
      <ion-input required placeholder="Description: " formControlName="description" type="text"></ion-input>
    </div>
    <ion-button block color="primary" type="submit" [disabled]="transactionForm.invalid">
      Deposit
    </ion-button>
  </form>
</ion-content>