<ion-tabs>
  <ion-tab-bar slot="bottom,top">
    <ion-tab-button tab="index">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clubs">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Clubs</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="members">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Members</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
