#container{
    #general{
        margin-top: 1.5vh;
        background: var(--ion-color-light);
        border-radius: 15px;
        padding: 2%;
        animation: enterInfo 0.5s;
        #general-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            ion-label{
                margin-left: 3%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
        #balance{
            p{
                font-size: 32px;
            }
        }
    }
    #options{
        margin-top: 2vh;
        ion-col{
            border-radius: 25px;
        }
    }
    .top-balances{
        margin-top: 3vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        animation: enterBalances 0.5s;
        div{
            width: 32%;
            background: var(--ion-color-light);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 0px;
            border-radius: 15px;
            ion-label{
                p{
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            p{
                font-size: 32px;
            }
        }
    }
}


#add-director{
    animation: enterDirector 0.5s;
}
#add-club{
    animation: enterClub 0.5s;
}


@keyframes enterInfo {
    0% {
        transform: translate(0px, -25px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes enterDirector {
    0% {
        transform:  translate(-500px, 0px);
    }
    100% {
        transform:  translate(0px, 0px);
    }
}
@keyframes enterClub {
    0% {
        transform:  translate(500px, 0px);
    }
    100% {
        transform:  translate(0px, 0px);
    }
}


@keyframes enterBalances {
    0% {
        transform: translate(0px, 300px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


