

<ion-content [fullscreen]="true" color="secondary">
  <ion-grid id="container">
    <ion-row id="general">
      <ion-col size="8" id="general-info">
        <ion-avatar>
          <img src="../../../assets//images/photos/user.png" />
        </ion-avatar>
        <ion-label>
          <p>{{userS.logged?.firstName}}</p>
          <p>{{userS.logged?.lastName}}</p>
        </ion-label>
      </ion-col>
      <ion-col size="4" id="balance">
        <p></p>
      </ion-col>
    </ion-row>
    <ion-row id="options">
      <ion-col size="6" routerLink="/add-director" id="add-director">
        <ion-item>
          <ion-icon slot="start" name="person-add-outline" size="large"></ion-icon>
          <ion-label>Add Director</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" routerLink="/add-club"  id="add-club">
        <ion-item>
          <ion-icon slot="start" name="add-circle-outline" size="large"></ion-icon>
          <ion-label>Add Club</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="top-balances">
      <div *ngFor="let club of adminS.top3Clubs">
        <ion-avatar>
          <img src="../../../assets//images/photos/club.png" />
        </ion-avatar>
        <ion-label>
          <p>{{club.name}}</p>
          <p>{{club.zone}}</p>
        </ion-label>
        <p>{{club.total}}</p>
      </div>
    </ion-row>
    <ion-row class="top-balances">
      <div *ngFor="let user of adminS.top3Users">
        <ion-avatar>
          <img src="../../../assets//images/photos/user.png" />
        </ion-avatar>
        <ion-label>
          <p>{{user.firstName}}</p>
          <p>{{user.lastName}}</p>
        </ion-label>
        <p>{{user.total}}</p>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
