#container{
    #filter{
        background-color: var(--ion-color-light);
        border-radius: 25px;
    }
    #members{
        margin-top: 4vh;
        ion-col{
            margin-top: 10px;
            height: 75px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--ion-color-light);
            border-radius: 5px;
            padding-right: 20px;
            
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                ion-label{
                    p{
                        font-size: 15px;
                    }
                }
            }
            p{
                font-size: 32px;
                font-weight: bold;
            }
        }
    }
}