#container{
    #search-bar{
        background: var(--ion-color-light);
        border-radius: 15px;
        animation: enterFilter 0.5s;
        ion-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    #members{
        margin-top: 4vh;
        animation: enterMembers 0.5s;
        ion-col{
            margin-top: 10px;
            height: 75px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--ion-color-light);
            border-radius: 5px;
            padding-right: 20px;
            
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                ion-label{
                    p{
                        font-size: 15px;
                    }
                }
            }
            p{
                font-size: 32px;
                font-weight: bold;
                color: var(--ion-color-dark);
            }
        }
    }
}

ion-input{
    color: black;
}

@keyframes enterFilter {
    0% {
        transform: translate(0px, -100px );
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes enterMembers {
    0% {
        transform: translate(0px, 500px );
    }
    100% {
        transform: translate(0px, 0px);
    }
}