<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-grid id="container">
    <ion-row id="search-bar">
      <ion-col size="10">
        <ion-input type="text" placeholder="Search"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="search" size="large"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row id="members" class="ion-justify-content-center">
      <ion-col size="12" *ngFor="let member of clubS.members">
        <div>
          <ion-avatar>
            <img [src]=""/>
          </ion-avatar>
          <ion-label>
            <p>{{member.firstName}}</p>
            <p>{{member.lastName}}</p>
          </ion-label>
        </div>
        <p>{{member.total}}</p>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
