<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="index">
      <ion-icon aria-hidden="true" name="home-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="members">
      <ion-icon aria-hidden="true" name="people-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="openModal()">
      <ion-icon aria-hidden="true" name="add" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon aria-hidden="true" name="card-outline" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon aria-hidden="true" name="menu-outline" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  

</ion-tabs>
