<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="index">
      <ion-icon aria-hidden="true" name="home" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button id="open-modal" (click)="openAdd()">
      <ion-icon aria-hidden="true" name="add" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon aria-hidden="true" name="menu-outline" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>


    <!-- <ion-modal trigger="open-modal">
      <ng-template>
        <app-make-transaction></app-make-transaction>
      </ng-template>
    </ion-modal> -->
</ion-tabs>
