<ion-grid fixed  id="container">
    <ion-row>
        <ion-col size="8" id="general-info">
            <small *ngIf="transaction.idSender == userS.logged?.id || transaction.type == 'deposit'" class="black">Para:</small>
            <small *ngIf="transaction.idSender != userS.logged?.id && transaction.type != 'deposit'" class="black">Desde:</small>
            <div *ngIf="transaction.idSender == userS.logged?.id || transaction.type == 'deposit'">
                <ion-avatar>
                    <img [src]="transaction.idReceiver == transaction.idClub ? '../../../assets//images/photos/club.png' : '/assets/images/photos/user.png'"  />
                </ion-avatar>
                <ion-label >
                    <h2 class="black">{{transaction.receiver?.firstName}}</h2>
                    <h2 class="black">{{transaction.receiver?.lastName}}</h2>
                </ion-label>

            </div>
            <div *ngIf="transaction.idSender != userS.logged?.id  && transaction.type != 'deposit'">
                <ion-avatar>
                    <img [src]="transaction.idSender == transaction.idClub ? '../../../assets//images/photos/club.png' : '/assets/images/photos/user.png'"  />
                </ion-avatar>
                <ion-label >
                    <h2 class="black">{{transaction.sender?.firstName}}</h2>
                    <h2 class="black">{{transaction.sender?.lastName}}</h2>
                </ion-label>
            </div>
            <ion-label id="description">
                <small class="black">Description: </small>
                <p class="black">{{transaction.reason}}</p>
            </ion-label>
        </ion-col>
        <ion-col size="4" id="amount-info">
            <small class="black">{{date | date: "dd-MMM-yyyy hh:mm a" }}</small>
            <div>
                <h2 [class]="transaction.idSender == userS.logged?.id || transaction.idReceiver == transaction.idClub ?  'red' : 'green' " >{{transaction.amount}}</h2>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>