
<ion-content [fullscreen]="true" color="secondary">
  <ion-list color="secondary">
    <ion-item routerLink="/add-club" >
      <ion-icon slot="start" name="add-circle-outline" color="light" size="large"></ion-icon>
      <ion-label>Add Club</ion-label>
      <ion-icon slot="end" name="arrow-forward-outline" color="light" size="large"></ion-icon>
    </ion-item>
    <ion-item routerLink="/add-director" >
      <ion-icon slot="start" name="person-add-outline" color="light" size="large"></ion-icon>
      <ion-label>Add Director</ion-label>
      <ion-icon slot="end" name="arrow-forward-outline" color="light" size="large"></ion-icon>
    </ion-item>
    <ion-item (click)="logOut()" >
      <ion-icon slot="start" name="log-out-outline" color="light" size="large"></ion-icon>
      <ion-label>Sign Out</ion-label>
      <ion-icon slot="end" name="arrow-forward-outline" color="light" size="large"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
