#container{
    #filter{
        background-color: var(--ion-color-light);
        border-radius: 25px;
        margin-top: 2vh;
        animation: enterFilter 0.3s;
        ion-col{
            ion-item{
                border-radius: 25px;
            }
        }
    }
    #clubs{
        margin-top: 4vh;
        ion-col{
            margin-top: 10px;
            height: 75px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--ion-color-light);
            border-radius: 5px;
            padding-right: 20px;
            
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 85%;
                ion-label{
                    margin-left: 2%;
                    p{
                        font-size: 15px;
                    }
                }
            }
            p{
                font-size: 32px;
                font-weight: bold;
            }
        }
    }
}

#notFound {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 200px;
        height: 300px;
    }
    ion-label{
        font-size: 32px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}


@keyframes enterFilter {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}