
<ion-content [fullscreen]="true" color="secondary">
  <ion-list color="secondary">
    <ion-item (click)="addUser()">
      <ion-icon slot="start" name="person-outline" size="large" color="light"></ion-icon>
      <ion-label>Add User</ion-label>
      <ion-icon slot="end" name="arrow-forward" size="large" color="light"></ion-icon>
    </ion-item>
    <ion-item routerLink="/directive-events">
      <ion-icon slot="start" name="calendar-clear-outline" size="large" color="light"></ion-icon>
      <ion-label>Events</ion-label>
      <ion-icon slot="end" name="arrow-forward" size="large" color="light"></ion-icon>
    </ion-item>
    <ion-item (click)="logOut()">
      <ion-icon slot="start" name="log-out-outline" size="large" color="light"></ion-icon>
      <ion-label>Log Out</ion-label>
      <ion-icon slot="end" name="arrow-forward" size="large" color="light"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
